.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login__form {
  position: relative;
  border-radius: 1rem;
  background-color: white;
  padding: 1.5rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px gray;
}

.Login__img {
  text-align: center;
  margin-bottom: 1.5rem;
}

.Login__img > img {
  height: 8rem;
  border-radius: 50%;
  object-fit: fill;
}

.Login__inpuContainer {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  width: 30rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  border-radius: 2rem;
  transition: all 300ms ease-in;
}

.Login__inpuContainer > div {
  font-size: 1.3rem;
}

.Login__inpuContainer > input {
  outline: none;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  height: 2.5rem;
  padding: 0;
}

.Login__inpuContainer:hover {
  box-shadow: 0.5px 0.5px 3px 1.5px #ccc;
}

.Login__button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  width: 30rem;
  height: 2.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: white;
}

.Login__button:hover {
  background-image: linear-gradient(
    to right,
    #134e5e 0%,
    #71b280 51%,
    #134e5e 100%
  );
}

@media only screen and (max-width: 38rem) {
  .Login__form {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .Login__inpuContainer {
    width: 20rem;
  }

  .Login__button {
    width: 20rem;
  }
}

@media only screen and (max-width: 25rem) {
  .Login__form {
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .Login__inpuContainer {
    width: 17rem;
  }

  .Login__button {
    width: 17rem;
  }
}
