.Header {
  padding: 1rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.Profile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
