.Header {
  padding: 1rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}

.UpdateProfile {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.UpdateProfile > h1 {
  font-family: courier, arial, helvetica;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

.UpdateProfile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 0px 10px 2px gray;
  border-radius: 1rem;
}

.UpdateProfile__pic {
  margin-right: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.UpdateProfile__pic > p {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 7px;
  padding: 0.3rem 0.3rem 0.07rem 0.3rem;
  font-size: 2rem;
  background-color: #199954;
  border-radius: 50%;
  color: white;
  transition: all 400ms ease-in-out;
}

.UpdateProfile__pic > p:hover {
  transform: scale(1.15);
}

.UpdateProfile__pic > img {
  object-fit: fill;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}

.UpdateProfile__info {
  display: flex;
  flex-direction: column;
}

.UpdateProfile__info > div {
  display: flex;
  align-items: center;
  width: 25rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  border-bottom: solid 1px black;
}

.UpdateProfile__info > div > input {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 1rem;
  flex-grow: 1;
  padding: 0;
  height: 2.5rem;
  color: #333;
}

.UpdateProfile__info > button {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #f7971e 0%,
    #ffd200 51%,
    #f7971e 100%
  );
  margin: 1rem 0.5rem 0 auto;
  width: 5rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: all 300ms ease-in-out;
}

.UpdateProfile__info > button:hover {
  transform: scale(1.2);
}

.jsb {
  justify-content: space-between;
}

@media only screen and (max-width: 50rem) {
  .UpdateProfile__container {
    flex-direction: column;
  }
  .UpdateProfile__info > button {
    margin: 1rem auto 0;
  }
  .UpdateProfile__pic {
    margin-right: 0;
  }
}

@media only screen and (max-width: 33rem) {
  .UpdateProfile__container {
    padding: 1.5rem;
  }

  .UpdateProfile__info > div {
    width: 17rem;
  }
}

.Logout {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 1rem;
  background-image: linear-gradient(
    to right,
    #ff4b1f 0%,
    #ff9068 51%,
    #ff4b1f 100%
  );
  color: white;
  margin: 1rem 0.5rem 0 auto;
  width: 5rem;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-size: 200% auto;
  transition: all 0.5s ease-in-out;
}

.Logout:hover {
  background-position: right center;
}
